@import "variables";
@import "reset";
//@import "fontawesome";


/* sass goes here */


main {
	display: flex;
	flex-wrap: wrap;
	
}
div {
	position: relative;
	font-family: sans-serif;
	box-sizing: border-box;
	width: 33.333%;
	padding: 10px;	
	&:nth-of-type(odd){
		background-color: hsla(0, 0%, 0%, .1);
		}
		&:nth-of-type(even){
			background-color: hsla(0, 0%, 0%, .05);
		}
		div::before {
			content: "";
			display: block;
			width: 3em;
			height: 3em;
			background-color: white;
			border-radius: 0 0 0 100%;
			position: absolute;
			top: 0;
			right: 0;
		}
		div::after {
			display: block;
			width: 2em;
			height: 2em;
			text-align: center;
			line-height: 2em;
			font-size: 1.25em;
			position: absolute;
			top: 0;
			right: 0;
		}
		@for $i from 1 through 40 {
			&:nth-child(#{$i}) {
				&:before {
				display: flex;
				justify-content: flex-end;
				content: "#{$i}";
			}
		}
	}
}

span { 
	font-size: 1.5em;
	font-weight: 700;
	display: block;
}
img {
	float: left;
	margin-right: 10px;
}