/*sass goes here*/
body {
  font-family: sans-serif;
  font-size: 100%;
  margin: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  border-bottom: 1px dotted black;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

header, #about, #promos div, #blog, #contact > div {
  padding: 50px 5vw;
}

nav::before, #about::before, #promos::before, .grid::before, nav::after, #about::after, #promos::after, .grid::after {
  content: "";
  display: block;
  clear: both;
}

.btn {
  display: inline-block;
  border: 1px solid black;
  padding: 10px 20px;
  text-transform: uppercase;
}
.btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.icon {
  background-color: rgba(0, 0, 0, 0.1);
  display: inline-block;
  text-align: center;
  width: 3vw;
  height: 1.5vw;
  line-height: 1.5vw;
  position: relative;
  margin-bottom: 3vw;
}
.icon::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  border-width: 1.5vw 1.5vw 1vw 1.5vw;
  border-style: solid;
}
.icon::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  border-color: rgba(0, 0, 0, 0.1) transparent transparent transparent;
  border-width: 1vw 1.5vw 1.5vw 1.5vw;
  border-style: solid;
}

header {
  overflow: hidden;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/slide01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
header a {
  border: none;
}

li {
  display: inline-block;
}

h1 {
  float: left;
}

h2 {
  text-align: center;
  margin-top: 15vw;
  margin-bottom: 15vw;
  font-size: 3vw;
  text-transform: uppercase;
}

ul {
  float: right;
}

#about img {
  float: right;
  width: 60%;
  height: auto;
}
#about div {
  width: 33%;
  float: left;
  margin-right: 6%;
}

#promos div {
  width: 33.3333%;
  float: left;
  box-sizing: border-box;
}

.grid div {
  background-color: white;
  float: left;
  margin-right: 5%;
  margin-bottom: 5%;
  width: 30%;
}
.grid span {
  padding: 2.5vw;
  display: inline-block;
}

div:nth-of-type(3n) {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  border-bottom: 20px solid rgba(0, 0, 0, 0.1);
}

#blog {
  background-color: rgba(0, 0, 0, 0.1);
}

#contact > div {
  box-sizing: border-box;
  width: 50%;
  float: left;
}

fieldset {
  border: none;
  padding: 0;
}
fieldset:first-child label {
  width: 50%;
}

input, textarea {
  width: 100%;
}

label {
  display: block;
  float: left;
  width: 100%;
}
